# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.[oa]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environment
.venv/
venv/
ENV/

# Instance folder (Flask specific)
instance/

# Environment variables
.env*
!.env.example

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
.pytest_cache/
.coverage
htmlcov/
*.log

# macOS
.DS_Store
